<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dashboard </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="danger">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="user-details ion-padding">
    <div class="ion-padding-bottom ion-margin-top">Hey,</div>
    <div class="ion-padding-bottom">Welcome back</div>
    <div class="user-name">
      {{userDetails?.displayName ? userDetails?.displayName :
      userDetails?.email}}
    </div>
  </div>
</ion-content>